header::before{
    display: block;
    height: 50px;
   content: " ";
  
  }

  .cart-count{
    border-radius: 100%;
    position: relative;
    top: -2.5em;
    right: -1em;
  }

  .products-link{
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 500;
    color: #7A0BC0;
  }